<%- include('partials/header') %>

<div class="container mt-5">
    <h2 class="mb-4">Recycled Products Marketplace</h2>
    
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="search" class="form-control" placeholder="Search recycled products...">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success w-100">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://placehold.co/400x300" class="card-img-top" alt="Recycled Product">
                <div class="card-body">
                    <h5 class="card-title">Recycled Paper Notebook</h5>
                    <p class="card-text">Handmade notebook using recycled paper</p>
                    <p class="text-success">$12.99</p>
                    <button class="btn btn-success">Add to Cart</button>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://placehold.co/400x300" class="card-img-top" alt="Recycled Product">
                <div class="card-body">
                    <h5 class="card-title">Upcycled Glass Vase</h5>
                    <p class="card-text">Beautiful vase made from recycled glass</p>
                    <p class="text-success">$24.99</p>
                    <button class="btn btn-success">Add to Cart</button>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://placehold.co/400x300" class="card-img-top" alt="Recycled Product">
                <div class="card-body">
                    <h5 class="card-title">Eco-Friendly Planter</h5>
                    <p class="card-text">Planter made from recycled plastic</p>
                    <p class="text-success">$19.99</p>
                    <button class="btn btn-success">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>